@import '../../../styles/colors';

.todo__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);

    &-item {
        color: var(--light-grayish-blue);
        background: var(--very-dark-desaturated-blue);
        border-bottom: 1px solid var(--very-dark-grayish-blue);
        display: flex;
        align-items: center;
        padding: 20px 20px;

        &:last-child {
            border-bottom: none;
        }

        .check {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            background: linear-gradient(to right, var(--very-dark-grayish-blue), var(--very-dark-grayish-blue));
            position: relative;
            padding: 1px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background: $linear-gradient;
            }

            i {
                width: 24px;
                height: 24px;
                display: inline-block;
                border-radius: 50%;
                background: var(--very-dark-desaturated-blue);
                text-align: center;
                line-height: 22px;

                img {
                    width: 12px;
                }
            }
        }

        &.completed {
            .check {
                background: $linear-gradient;
                i {
                    background: $linear-gradient;
                }
            }

            .text {
                text-decoration: line-through;
                color: var(--very-dark-grayish-blue);
            }
        }

        .text {
            flex: 1;
            margin: 0;
        }

        .delete {
            opacity: 0;
            cursor: pointer;
            margin-left: 15px;
        }

        &:hover {
            .delete {
                opacity: 1;
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    color: var(--dark-grayish-blue);
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__types {
        @media screen and (max-width: 550px) {
            display: none;

            // &.mobile {
            //     display: block;
            //     text-align: center;
            //     width: 100%;
            // }
        }

        font-weight: 700;
        &-all {
            margin-right: 20px;
            cursor: pointer;
        }

        &-active {
            margin-right: 20px;
            cursor: pointer;
        }

        &-completed {
            cursor: pointer;
        }
    }

    &.mobile {
        margin-top: 1em;
        display: none;
        border-radius: 5px;

        @media screen and (max-width: 550px) {
            display: block;
            .filters__types {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
    }

    &-clear {
        cursor: pointer;
    }
}

.active {
    color: $blue;
}
