@import './styles/colors';

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 2em;
    margin: 0 auto;
}
